*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.desc__row{
    position: relative;
    width: calc(90% / 3);
    margin-bottom: 20px;
    height: 300px;
    overflow: hidden;
}
.rows{
    height: 100%;
    width: 100%;
    border: 3px solid white;
    border-radius: 35px 0 35px 0;
    transition: all 0.3s;
}
.desc__num{
    width: 50%;
    height: 100%;
    padding: 10px 0;
    border-radius: 30px 0 30px 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
}
.desc__text{
    cursor: default;
    position: absolute;
    left: -100%;
    padding: 20px;
    color: white;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s;
}
.rows:hover .desc__text{
    top: 50px;
    opacity: 1;
}
.rows:hover{
    height: 300px;
}
